body {
    font-size:15px;
}

h4 {
    font-size:20px;
}

h5 {
    font-size:18px;
}

h6 {
    font-size:16px;
}

.go-to-top {
    color:#a2b3c5 !important;
}

.go-to-top:hover {
    color:#e0e4ed !important;
}
