.page .theme-default-content:not(.custom),
.page .page-edit,
.page .page-nav,
.page .contributors,
{
    max-width: 900px;
}

@media only screen and (min-width:1440px) and (max-width: 1620px) {
    .page .theme-default-content:not(.custom),
    .page .page-edit,
    .page .page-nav,
    .page .contributors,
    {
        margin-left:10%;
        max-width: 700px;
    }
}

@media only screen and (min-width:1620px) and (max-width: 1800px) {
    .page .theme-default-content:not(.custom),
    .page .page-edit,
    .page .page-nav,
    .page .contributors,
    {
        margin-left:12%;
        max-width: 800px;
    }
}